ul, li, a, p, div, h3, h4, img {
    padding: 0;
    margin: 0;
}

.open-list {
    background: #262626;
}
.open-list__team-card {
    padding: 30px 18%;
}
.team-card__top-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.team-card__owl-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
.team-card__owl {
    position: relative;
    margin-right: 8px;
    margin-right: 20px;
}
.owl__sub-photo-img {
    position: absolute;
    bottom: 17px;
    right: 2px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #008cff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.team-card__profile {
    text-align: center;
}
.profile__team-name {
    margin-bottom: 10px;
    color: #ffffff;
    font-family: 'Nexa XBold';
    font-size: 20px;
    line-height: 22px;
}
.profile__team-email {
    margin-bottom: 10px;
    color: #ffffff;
    font-family: 'Nexa';
    font-weight: 500;
}
.profile__disconnect {
    padding: 2px 0;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Nexa';
    color: #ffffff;
    font-weight: 500;
}
.profile__disconnect:hover {
    color: white; 
}
.profile__disconnect:active {
    color: orange; 
}
.team-card__to-profile {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    color: #ffffff;
    opacity: 1;
    font-family: 'Nexa';
}
.team-card__to-profile:hover {
    opacity: 0.5;
}
.team-card__to-profile:active {
    opacity: 1;
    color: orange; 
}
.open-list__sub-title {
    padding: 13px 18%;
    background: #343435;
    color: white;
    font-family: 'Nexa XBold';
}
.open-list__list-item {
    display: block;
    margin-left: 18%;
    padding: 13px 18% 13px 0;
    border-top: 1px #6a6b6e solid;
    font-family: 'Nexa';
    color: #ffffff;
}
ul li:first-child {
    border-top: none;
}
.open-list__list-item--border-bottom {
    border-bottom: 1px #6a6b6e solid;
}
.open-list__pre-footer {
    display: block;
    padding: 25px;
    text-align: center;
    font-family: 'Nexa';
    color: #ffffff;
    text-decoration: underline;
}
@media (max-width: 850px) {
    .open-list__team-card {
        padding: 30px 5%;
    }
    .open-list__sub-title {
        padding: 13px 5%;
    }
    .open-list__list-item {
        margin-left: 5%;
        padding: 13px 5% 13px 0;
    }
}