ul,
li,
a,
p,
div,
h3,
h4,
img {
  padding: 0;
  margin: 0;
}
.notification__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 18%;
  background: #262626;
  /* background: rgb(32, 25, 65); */
  /* TODO color */
  border-bottom: 1px #9a9ca6 solid;
}
.search__searching-input {
  flex-grow: 33;
  padding: 7px 31px;
  margin: 0 50px;
  font-size: 22px;
  line-height: 22px;
  border: 1px #ef5236 solid;
  border-radius: 20px;
  background: #939598;
  color: white;
}
.notification__search-link--bell {
  position: relative;
}
.notification__search-link--bell:before {
  content: "";
  position: absolute;
  top: 2px;
  right: 1px;
  width: 10px;
  height: 10px;
  background: #ef5236;
  border-radius: 50%;
}
.search__searching-glass {
  position: absolute;
  top: 8px;
  left: -80px;
}
.notification__result {
  padding: 15px 18%;
  background: #262626;
  padding-bottom: 60px;
}
.notification__result-title {
  margin: 11px 0;
  margin-top: 20px;
  font-size: 26px;
  line-height: 26px;
  color: #ffffff;
  font-family: "Nexa Thin";
}
.notification__result-item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 14px;
  margin-bottom: 7px;
  background: #333334;
  font-family: "Nexa Bold";
  font-style: italic;
  color: #ffffff;
}
.notification__result-item:first-child {
  border-top-right-radius: 28px;
}
.notification__result-item:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}
.notification__result-list--yellow .notification__result-item:before {
  border: 10px solid transparent;
  border-left: 10px solid #f7a01d;
  border-top: 10px solid #f7a01d;
}
.notification__result-list--blue .notification__result-item:before {
  border: 10px solid transparent;
  border-left: 10px solid #00aeef;
  border-top: 10px solid #00aeef;
}
.notification__result-list--red .notification__result-item:before {
  border: 10px solid transparent;
  border-left: 10px solid #ef5236;
  border-top: 10px solid #ef5236;
}
.notification__result-list--green .notification__result-item:before {
  border: 10px solid transparent;
  border-left: 10px solid #00a651;
  border-top: 10px solid #00a651;
}
.notification__result-item-link {
  color: #ffffff;
  margin-left: 17px;
}
.result-news-events-tournaments__shadow {
  background: url("../../assets//images/Тень-1.svg") no-repeat;
  background-size: 100%, auto;
  width: 100%;
  height: 150px;
  margin-top: -25px;
  margin-bottom: -55px;
  box-sizing: border-box;
}
@media (max-width: 1700px) {
  .result-news-events-tournaments__shadow {
    margin-top: -22px;
    height: 120px;
  }
}
@media (max-width: 1300px) {
  .result-news-events-tournaments__shadow {
    margin-top: -18px;
    height: 110px;
  }
}
@media (max-width: 1000px) {
  .result-news-events-tournaments__shadow {
    margin-top: -15px;
    height: 80px;
  }
}
@media (max-width: 800px) {
  .result-news-events-tournaments__shadow {
    margin-top: -11px;
    height: 60px;
  }
}
@media (max-width: 500px) {
  .result-news-events-tournaments__shadow {
    height: 50px;
  }
}

@media (max-width: 500px) {
  .notification__search {
    padding: 19px 5%;
  }
  .search__searching-glass {
    left: -40px;
  }
  .search__searching-input {
    width: 200px;
    margin: 0 10px;
    padding: 7px 21px;
    box-sizing: border-box;
  }
  .notification__result {
    padding: 15px 5%;
  }
}
