.communities-page {
  background: #181818;
  width: 100%;
  font-family: "Nexa", sans-serif;
  color: white;
  height: var(--full-height-without-menu);
  padding: 20px 0;
  background: #212121;
  box-sizing: border-box;
}
.communities-page__logo-and-title {
  position: relative;
  width: 100%;
  padding: 70px 10%;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-bottom: 1px #9a9ca6 solid;
}
.communities-page__decoration-bell {
  position: absolute;
  right: 10%;
  top: 70px;
  cursor: pointer;
}
.communities-page__decoration-bell:before {
  position: absolute;
  content: "";
  top: 3px;
  right: 1px;
  width: 10px;
  height: 10px;
  background: #ef5236;
  border-radius: 50%;
}
.communities-page__team-picture {
  position: relative;
  display: block;
  width: 131px;
  margin: 0 auto;
  margin-bottom: 25px;
}
/*.team-picture__qr-communities {
    position: absolute;
    top: 45px;
    right: -60px;
  }*/
.communities-page__title {
  font-size: 32px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 14px;
}
.communities-page__followers {
  display: block;
  color: #f7a01d;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 12px;
}
.communities-page__followers-number {
  font-style: italic;
  margin-right: 4px;
}
.communities-page__bio {
  display: block;
  max-width: 420px;
  padding: 10px;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  border-top: 1px #9a9ca6 solid;
  font-style: italic;
  margin-bottom: 27px;
}
.communities-page__information {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.communities-page__decoration-heart {
  position: absolute;
  bottom: 15px;
  right: 10%;
  width: 66px;
  cursor: pointer;
}
.decoration-heart__image {
  mask-image: url(../../assets/svg/Heart.svg);
  width: 28px;
  height: 24px;
  background-color: #ffffff;
  margin: 0 auto;
}
.decoration-heart__image--active {
  background-color: #f7a01d;
}
.decoration-heart__tongler {
  margin-top: 5px;
  text-align: center;
}
.communities-page__information-block {
  background: #262626;
  width: 100%;
  padding: 0 10%;
  box-sizing: border-box;
}
.information-block__text {
  display: block;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 35px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  max-width: 600px;
  font-weight: 500;
}
.communities-page__communities {
  padding: 20px 0;
}
.communities-page__community-list {
}
.community-list__item-wrapper {
  max-width: 100%;
}
.communties-page__wrapper {
}
.community-list {
  list-style: none;
  width: 100%;
  padding: 10px 18%;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.community-list__item {
  margin-bottom: 10px;
  cursor: pointer;
}
.communities-page__country-year-contact {
  padding-bottom: 30px;
  max-width: 600px;
  margin: 0 auto;
  font-weight: 500;
}
.communities-page__country,
.communities-page__year,
.communities-page__contact {
  display: block;
  font-size: 16px;
  line-height: 22px;
}
.country-year-contact__right-text {
  display: inline-block;
  width: 160px;
}
.communities-page__community-list-title {
  text-align: center;
  padding: 20px 0;
}
.list__item {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  width: 420px;
  height: 85px;
  border: 1px white solid;
  border-radius: 13px;
  margin: 0 auto;
  margin-bottom: 18px;
  /*background: url(../../assets/images/heartstone.jpeg);*/
  background-size: cover;
  box-sizing: border-box;
}
.list__item-div {
  display: flex;
}
.communities-page__tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20%;
  border-bottom: 1px #9a9ca6 solid;
  box-sizing: border-box;
}
@media (max-width: 400px) {
  .communities-page__tabs {
    padding: 10px 10%;
  }
}
.communities-page__tabs-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
/*.tabs {

  }*/
.tabs__tab-title {
  padding: 0 5px 5px 5px;
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff;
  border-bottom: 2px transparent solid;
  font-family: "Nexa";
  text-align: center;
}
.tabs__tab-title:nth-child(1) {
  margin-right: 10px;
}
.tabs__tab-title--clickable {
  cursor: pointer;
}
.tabs__tab-title--active {
  border-bottom-color: #f7a01d;
}
.communities__event-lists {
  height: var(--full-height-without-menu);
  padding: 20px 0;
  background: #212121;
  box-sizing: border-box;
}
@media (max-width: 600px) {
  .tabs__tab-title--clickable {
    font-size: 15px;
    line-height: 18px;
  }
}
@media (max-width: 400px) {
  .tabs__tab-title--clickable {
    font-size: 13px;
    line-height: 18px;
  }
}

.event-list__events .event-list__event {
  /*width: 64%; */
  position: relative;
  width: 420px;
  height: 85px;
  border: 1px white solid;
  border-radius: 13px;
  margin: 0 auto;
  margin-bottom: 18px;
  /*background: url(../../assets/images/heartstone.jpeg);*/
  background-size: cover;
  box-sizing: border-box;
}

.community-list .event-list__event {
  /* width: 64%; */
  position: relative;
  width: 420px;
  height: 85px;
  border: 1px white solid;
  border-radius: 13px;
  margin: 0 auto;
  margin-bottom: 18px;
  /*background: url(/static/media/heartstone.458a6bc0.jpeg);*/
  background-size: cover;
  box-sizing: border-box;
}
/*.communities__tournament-lists {

  }
  .communities__tournament-list {

  }*/
.tournament-list__event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px;
  box-sizing: border-box;
}
/* .tournament-list__events .tournament-list__event {
    padding: 0;
  } */
.communities__event-list {
  margin-bottom: 20px;
  box-sizing: border-box;
}
.event-list__date {
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  padding-bottom: 8px;
  margin-left: 18%;
  margin-bottom: 20px;
  border-bottom: 1px #9a9ca6 solid;
  font-family: "Nexa";
}
.event-list__events {
  list-style: none;
  width: 100%;
  padding: 0 18%;
  box-sizing: border-box;
}

.communities-page__search {
  position: relative;
  width: 125px;
}
.communities-page__events-free-space {
  width: 125px;
}
.communities-page__search-free-space {
  width: 125px;
  height: 1px;
  background: transparent;
}
.communities-page__search-input {
  width: 100%;
  padding: 10px;
  padding-right: 30px;
  box-sizing: border-box;
  border-radius: 20px;
  background: #9a9ca6;
  border: none;
  cursor: pointer;
}
.communities-page__search-decoration-image {
  position: absolute;
  right: 7px;
  top: 10px;
}
@media (max-width: 450px) {
  .communities-page__decoration-bell {
    right: 20px;
  }
  .communities-page__decoration-heart {
    right: 10px;
  }
  .communities-page__logo-and-title {
    padding: 10px;
    padding-top: 70px;
  }

  .country-year-contact__right-text {
    width: 95px;
  }
  .communities-page__events-free-space {
    display: none;
  }
}

ul,
li,
a,
p,
div,
h3,
h4,
img {
  padding: 0;
  margin: 0;
}
.calendar {
  border-top: 1px #9a9ca6 solid;
}
.calendar__title {
  padding: 0 5px 5px 5px;
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff;
  border-bottom: 2px transparent solid;
  font-family: "Nexa";
  text-align: center;
}
.calendar__title--active {
  border-bottom-color: #f7a01d;
}
.calendar__title--clickable {
  cursor: pointer;
}
.calendar__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 18%;
  padding-bottom: 20px;
  margin-bottom: 0;
  background: #262626;
  /* background: rgb(43, 36, 74, 0.5); */
  /* TODO color */
}
.calendar__filter-icon {
  width: 29px;
  height: 29px;
}
.calendar__event-lists {
  height: var(--full-height-without-menu);
  padding: 20px 0;
  background: #212121;
  /* TODO color  */
  /* background: #3f317c; */
  box-sizing: border-box;
}
.calendar__event-list {
  margin-bottom: 20px;
  box-sizing: border-box;
}
.event-list__date {
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  padding-bottom: 8px;
  margin-left: 18%;
  margin-bottom: 20px;
  border-bottom: 1px #9a9ca6 solid;
  font-family: "Nexa";
}
.event-list__events {
  list-style: none;
  width: 100%;
  padding: 0 18%;
  box-sizing: border-box;
}
.event-list__events .event-list__event {
  /*width: 64%; */
  position: relative;
  width: 420px;
  height: 85px;
  border: 1px white solid;
  border-radius: 13px;
  margin: 0 auto;
  margin-bottom: 18px;
  background: url(../../assets/images/GreenBG.jpg);
  background-size: cover;
  box-sizing: border-box;
  cursor: pointer;
}
.event-list__star-image {
  position: absolute;
  background: url("../../assets/svg/Star.svg");
  top: 7px;
  right: 7px;
  width: 19px;
  height: 19px;
  cursor: pointer;
}
.event-list__star-image--active {
  background: url("../../assets/svg/StarGold.svg");
}
.event__prize-and-date {
  width: 140px;
  margin-top: 26px;
  margin-left: 5px;
}
.event__prize-and-date .event__prize,
.event__prize-and-date .event__date {
  font-size: 12px;
  line-height: 16px;
  color: white;
  text-align: center;
  font-family: "Nexa XBold";
}
.event-list__event .event__link {
  display: block;
  margin-top: 3px;
  margin-right: 10px;
  text-align: right;
  color: #ffffff;
  font-size: 10px;
  line-height: 16px;
  text-decoration: underline;
  font-family: "Nexa XBold";
}
.tournament-list__event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px;
  box-sizing: border-box;
}
.event__game-image {
  width: 58px;
  height: 58px;
  margin-right: 0px;
  border-radius: 13px;
  background: url("../../assets/images/pubg-logo.jpg") no-repeat;
  background-size: contain;
}
.event__name-stage-date {
  flex-grow: 77;
  color: white;
}
.event__name {
  text-align: center;
  color: white;
  font-size: 15px;
  line-height: 15px;
  font-family: "Nexa XBold";
}
.event__decoration {
  width: 166px;
  height: 1px;
  margin: 4px auto;
  margin-bottom: 8px;
  background: #9a9ca6;
}
.event__stage {
  margin-bottom: 3px;
  text-align: center;
  color: white;
  font-size: 12px;
  line-height: 18px;
  font-family: "Nexa XBold";
}
.event__date {
  text-align: center;
  color: white;
  font-size: 12px;
  line-height: 14px;
  font-family: "Nexa XBold";
}
.event__tournament-link {
  margin-bottom: -3px;
  margin-right: -1px;
  align-self: flex-end;
  color: white;
  font-size: 10px;
  line-height: 12px;
  font-family: "Nexa XBold";
  text-decoration: underline;
}
@media (max-width: 850px) {
  .calendar__filter {
    padding: 15px 5%;
  }
  .event-list__date {
    margin-left: 5%;
  }
  .community-list {
    padding: 0 15%;
  }
  .event-list__events {
    padding: 0 15%;
  }
  .event-list__event .event__link {
    margin-top: 3px;
    margin-right: 10px;
  }
  .notification__search {
    padding: 19px 5%;
  }
}
@media (max-width: 500px) {
  .calendar__title {
    font-size: 22px;
    line-height: 22px;
  }
  .community-list__item-wrapper {
    width: 100%;
  }
  .community-list__item-wrapper {
  }
  .event-game__image {
    width: 100%;
    height: 100%;
  }
  .calendar__title--clickable {
    font-size: 13px;
    line-height: 18px;
  }
  .event-list__events {
    padding: 0 5%;
  }
  .community-list .event-list__event {
    /*position: absolute; */
    width: 280px;
    padding: 0 5%;
  }
  .community-list__events {
    padding: 0 5%;
  }
  .community-list {
    padding: 0 5%;
  }
  .event-list__events .event-list__event {
    /*position: absolute;*/
    width: 280px;
    padding: 0 5%;
  }
  .event-list__event .event__link {
    margin-right: -3px;
    margin-top: 6px;
  }
  .event__prize-and-date {
    width: 170px;
    margin-top: 26px;
    margin-left: -25px;
  }
  .event__game-image {
    /*position: absolute;*/
    width: 40px;
    height: 40px;
    /*top: 25px;
    left: 10px;*/
  }
  /* .tournament-list__events .tournament-list__event {
    padding: 0;
  } */
  .event__name {
    padding: 0 30px;
    font-size: 13px;
    line-height: 13px;
    overflow: hidden;
  }
  .event__decoration {
    width: 126px;
  }
  .event__tournament-link {
    position: absolute;
    bottom: 8px;
    right: 12px;
    font-size: 10px;
  }
}
